<%= form_for @page, html: { multipart: true } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "srt" %><br>
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <div class="field">
    <%= f.label :content, class: "srt" %><br>
    <%= f.text_area :content, placeholder: :content %>
  </div>

  <div class="actions">
    <%= f.submit "Publish" %>
  </div>
<% end %>