<%= form_for @beer, html: { multipart: true } do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :youtube_url, class: "srt" %><br>
    <%= f.text_field :youtube_url, placeholder: :youtube_url %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
<br>
  <div class="field">
    <%= f.label :name, class: "srt" %><br>
    <%= f.text_field :name, placeholder: :name %>
  </div>
  <div class="field">
    <%= f.label :description, class: "srt" %><br>
    <%= f.text_area :description, placeholder: :description %>
  </div>
  <div class="field">
    <%= f.label :style, class: "srt" %><br>
    <%= f.text_field :style, placeholder: :style %>
  </div>
  <div class="field">
    <%= f.label :abv, class: "srt" %><br>
    <%= f.text_field :abv, placeholder: :abv %>
  </div>
  <div class="field">
    <%= f.label :ibu, class: "srt" %><br>
    <%= f.number_field :ibu, placeholder: :ibu %>
  </div>
  <div class="field">
    <%= f.label :brewery, class: "srt" %><br>
    <%= f.text_field :brewery, placeholder: :brewery %>
  </div>
  <div class="field">
    <%= f.label :location, class: "srt" %><br>
    <%= f.text_field :location, placeholder: :location %>
  </div>



  <div class="actions">
    <%= f.submit "Publish" %>
  </div>
<% end %>
