<div class="skinny_wrapper">
  <div id="beer_show">
    <h1><%= @beer.name %></h1>
    <div class="avg_rating">
      <p>We collectively agree that this beer is a solid <strong class="big"><%= @avg_review %></strong> / 5!</p>
    </div>
    <hr>
    <div class="clearfix">
      <div class="description">
        <%= image_tag @beer.image.url %>
        <p><%= @beer.description %></p>
      </div>
      <div class="beer_data">
        <p><strong>Brewery:</strong> <%= @beer.brewery %></p>
        <p><strong>Location:</strong> <%= @beer.location %></p>
        <p><strong>STYLE:</strong> <%= @beer.style %></p>
        <p><strong>ABV:</strong> <%= number_to_percentage(@beer.abv, precision: 1) %></p>
        <p><strong>IBUL</strong> <%= @beer.ibu %></p>
        <%= link_to "WISHLIST", root_path, class: "button" %>
      </div>
    </div> 

    <div class="reviews">
      <%= link_to "Write a review", new_beer_review_path(@beer) %>

      <div class="review_show">
        <h1 class="review_title"><%= @beer.name%></h1>
        <% if @reviews.blank? %>
          <h3>No reviews just yet. Would you like to add the first?</h3>
           <%= link_to "Write a review", new_beer_review_path(@beer), class: "button" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="review">
              <div class="star-rating" data-score=<%= review.rating %> ></div>
              <p><%= review.comment %>
            </div>
          <% end %>
        <% end %>   
      </div>
    </div>
    <% if admin_signed_in? %>
      <div id="admin_links">
        <%= link_to "Edit Beer", edit_beer_path(@beer) %>
        <%= link_to "Delete Beer", beer_path(@beer), method: :delete, data: { confirm: "Are you sure?" } %> 
      </div>  
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  })
</script>
