<div class="skinny_wrapper">
  <div id="beer_show">
    <h1><%= @beer.name %></h1>
    <hr>
    <div class="clearfix">
      <div class="description">
        <%= image_tag @beer.image.url %>
        <p><%= @beer.description %></p>
      </div>
      <div class="beer_data">
        <p><strong>Brewery:</strong> <%= @beer.brewery %></p>
        <p><strong>Location:</strong> <%= @beer.location %></p>
        <p><strong>STYLE:</strong> <%= @beer.style %></p>
        <p><strong>ABV:</strong> <%= @beer.abv %></p>
        <p><strong>IBUL</strong> <%= @beer.ibu %></p>
        <%= link_to "WISHLIST", root_path, class: "button" %>
      </div>
    </div> 
  </div>
</div>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
