<div class="skinny_wrapper">
  <div id="beer_show">
    <h1><%= @beer.name %></h1>
    <div class="embed_youtube">
     <%= embed(@beer.youtube_url) %>
    </div>
    <div class="vid_info clearfix">
      <% unless  @beer.id == Beer.first.id   %>
        <%= link_to 'Previous Beer', Beer.get_previous_beer(@beer), class: "button nav-btn"  %>
      <% end %>
      <% unless  @beer.id == Beer.last.id   %> 
        <%= link_to  'Next Beer', Beer.get_next_beer(@beer), class: "button nav-btn" %>
      <% end %>

      <div class="likes">
        <%= render partial: "likes" %>
      </div> 

    </div>
    <hr>
    <div class="clearfix">
      <div class="description">
        <%= image_tag @beer.image.url %>
        <p><%= @beer.description %></p>
      </div>
      <div class="beer_data">
        <p><strong>Brewery:</strong> <%= @beer.brewery %></p>
        <p><strong>Location:</strong> <%= @beer.location %></p>
        <p><strong>STYLE:</strong> <%= @beer.style %></p>
        <p><strong>ABV:</strong> <%= number_to_percentage(@beer.abv, precision: 1) %></p>
        <p><strong>IBUL</strong> <%= @beer.ibu %></p>
      </div>
    </div> 

    <hr>

    <% @reviews.each do |review| %>
            <div class="review">
              <% if review.admin == Admin.find(1) || review.admin == Admin.find(3)%>
                <div class="our_thoughts">
                  <%= image_tag review.admin.avatar_url %>
                  <div class="thoughts_title clearfix">
                    <h4 class="thoughts-heading pull-left"><%= review.admin.first_name %>'s Thoughts</h4>
                    <div class="star-rating pull-right" data-score=<%= review.rating %> ></div>  
                  </div> 
                  <p><%= review.comment %>
                  <%= link_to image_tag("star-half.png") ,beer_review_path(@beer, review), method: :delete, data: { confirm: "Are you sure?" }%>
                </div>
              <% end %> 
        
            </div>
    <% end %>

     <%= render 'reviews/review' %>
    
    <% if admin_signed_in? && current_admin.try(:admin?) %>
      <div id="admin_links">
        <%= link_to "Edit Beer", edit_beer_path(@beer) %>
        <%= link_to "Delete Beer", beer_path(@beer), method: :delete, data: { confirm: "Are you sure?" } %> 
      </div>  
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  })
</script>
