<div id="reviews">
      <div class="review_show">
        <h1 class="review_title">Your Thoughts</h1>
          <% @reviews.each do |review| %>
            <div class="review">
              <div class="star-rating" data-score=<%= review.rating %> ></div>
              <p><small>Reviewed <strong><%= time_ago_in_words(review.created_at) %> ago</strong> by <%= review.admin.user_name %></small></p>
              <p><%= review.comment %>
               <% if review.admin == current_admin %>
                <%= link_to image_tag("star-half.png") ,beer_review_path(@beer, review), method: :delete, data: { confirm: "Are you sure?" }%>
               <% end %> 
        
            </div>
          <% end %>
          <% if admin_signed_in? %>
            <%= simple_form_for [@beer, Review.new] do |f| %>
              <div class="field">
                <div id="star-rating"></div>
              </div>
              <div class="field">
                <%= f.text_area :comment %>
              </div> 
              <br>
              <%= f.submit "Add Review", class: "button"%>
            <% end %>
            <% else %>
            <%= link_to "Log in to leave a review", new_admin_session_path, class: "button review-btn" %>
          <% end %>
      </div>
    </div>

    <script>
  $('#star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    starHalf: '<%= image_path('star-half.png') %>',
    path: '',
    scoreName: 'review[rating]'
  })
</script>