  <header id="main_navigation" class="clearfix"> 
    <%= link_to root_path, title: "Beerdid Logo" do %>
      <%= image_tag 'logo.svg', alt: 'Beerdid Logo', class: "logo" %>
    <% end %>

 

    <nav class="nav-collapse">
      <ul class="clearfix">
        <li class="searching">    
          <%= form_tag search_beers_path, method: :get, class: "search-box", role: "search" do %> 
            <p>
              <%= text_field_tag :search, params[:search], id: "search" %>
              <%= button_tag(type: "submit", class: "icon", id: "search") do %>
                 <i class="fa fa-search"></i>
              <% end %>
            </p>
            <% end %>
<!--           <form class="search-box" role="search">
              <input type="search" id="search" placeholder="Search..." />
              <button class="icon"><i class="fa fa-search"></i></button>
          </form> -->

        </li>
        <% if admin_signed_in? && current_admin.try(:admin?) %>
          <li>
              <%= image_tag current_admin.avatar_url, width: 30, class: "user_image" %>
              <strong><%= link_to current_admin.user_name, edit_admin_registration_path(@admin) %></strong></li>
          <li><%= link_to "New Beer", new_beer_path %></li>
          <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></li>
          <li><strong>Admin</strong></li>
        <% elsif admin_signed_in? %>
          <li>
            <%= image_tag current_admin.avatar_url, width: 30, class: "user_image" %>
            <%= link_to current_admin.user_name, edit_admin_registration_path(@admin) %></li>
          <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_admin_session_path %></li>
          <li><%= link_to "Sign up", new_admin_registration_path, class: "signup-btn" %></li>
        <% end %>
      </ul>
    </nav>  
  </header>