<!DOCTYPE html>
<html>
<head>
  <title>Beerdid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=lato:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
	<% if notice %>
	   <p class="notice"><%= notice %></p>
	<% elsif alert %>   
       <p class="alert"><%= alert %></p>
    <% end %> 
	<%= yield %>

  <script>
      var nav = responsiveNav(".nav-collapse",{
          jsClass: "js", // String: 'JS enabled' class which is added to  element

      });
  </script>

</body>
</html>
