<!DOCTYPE html>
<html>
<head>
  <% if display_meta_tags.present? %>
    <%= display_meta_tags %>
  <% else %>
    <title>BEERDID</title>
  <% end %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="alternate" href="http://BEERDID.com" hreflang="en-us" />
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
	<% if notice %>
	   <p class="notice"><%= notice %></p>
	<% elsif alert %>   
       <p class="alert"><%= alert %></p>
    <% end %> 
	<%= yield %>

<%= render 'layouts/footer' %>
